/* Estilos básicos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

/* Estilos para el contenido principal */
main {
    padding: 2em;
    text-align: center;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
